
@{
    Layout = null;
}

<style>
    h2,h3 {
        font-size: 115px;
        text-align: center;
        margin: 0 auto;
    }
    div {
        text-align: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
</style>

<div>
    <h2>OFERTA</h2>
    <h2>ALCOHOL</h2>
    <h2>$ 2,80 x litro</h2>
</div>

<div>
    <h2>OFERTA</h2>
    <h2>CLORO</h2>
    <h2>$ 0,80 x litro</h2>
</div>

<div>
    <h2>OFERTA</h2>
    <h2>SHAMPOO</h2>
    <h2>$ 2,25 x litro</h2>
</div>

<div>
    <h2>OFERTA</h2>
    <h2>DESENGRASANTE</h2>
    <h2>$ 2,00 x litro</h2>
</div>

<div>
    <h2>OFERTA</h2>
    <h2>DETERGENTE LIQ.</h2>
    <h2>$ 2,20 x litro</h2>
</div>

<div>
    <h2>OFERTA</h2>
    <h2>EDREDONES</h2>
    <h2>1 POR $ 4,00</h2>
    <h2>3 POR $ 10,00</h2>
</div>
